.nav {
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    margin: 0, auto;
    padding: 10px;
  }
  
.nav a {
  color: white;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}


  