.container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.productList {
  list-style-type: none;
  padding: 0;
  /* display: flex; */
  /* flex-wrap: wrap;
  gap: 20px;
  justify-content: center; */
}

.productItem {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.productItem h2 {
  margin: 0 0 0.5rem 0;
  margin-top: 0;
}

.productItem p {
  margin: 0.5rem 0;
}

.productImage {
  max-width: 100%;
  margin-top: 0.5rem;
  border-radius: 8px;
}
